/* to connect css file to html file, go html  and "link" */

h1{
    color: brown;
    color: darkorange;
    font-size: 50px;
}

p {
    color: chartreuse;
}

img{
    width: 250px;
}

h3{
    color: darkorchid;
}

h3.barbacoa{
    color: deeppink;
}

body{
    background-color: dimgray;
}